@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6B7280;
}

.container{
    padding: 20px;
    margin-top: 20px;
    max-width: 700px;
    height: 500px;
    width: 100%;
    border-radius: 4%;
    background-color: #374151;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 10px 10px 5px 5px #1F2937;
}

h1{
    font-size: 5rem;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
    color: #111827;
}

p{
    color: #1F2937;
    font-weight: bold;
}

button {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #EEE;
    background-image: linear-gradient(to right, #EC4899, #8B5CF6);
    color: #FFF;
    font-size: 32pt;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

#counter {
    display: flex;
    margin-bottom: 60px;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 24pt;
    font-weight: bold;
    background-image: linear-gradient(to right, #EC4899, #8B5CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

#currentNumber:active{
    background-image: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: red;
    color: red;
    
}